
    /***************FOOTER****************************/





    /***************** Notifications **************************/
    /*******Page MON COMPTE***********/


    /**********************Nous contacter ****************

    /********** Slideshow UnSignalement*******/

    /************MEDIA QUERRY***********/

    @media only screen and (max-width: 1150px) {
        .imgType {
            max-width: 68px;
            max-height: 68px;
        }
        .imgTypeActif {
            max-width: 68px;
            max-height: 68px;
        }
        .videoR {
            max-width: 30em;
            max-height: 25em;
        }
        @media only screen and (max-width: 950px) {
            .videoR {
                max-width: 17em;
                max-height: 11em;
            }
        }
        @media only screen and (max-width: 500px) {
            header {
                height: 2.555em;
                background: rgba(233, 95, 3, 1);
            }
            /**page index + nav****/
            .text {
                font-size: 15px
            }
            .button {
                font-size: 14px
            }
            .inscription {
                margin-top: 8px
            }
            .side {
                overflow-x: auto;
                padding-top: 15px;
            }
            .side a {
                font-size: 20px
            }
            .boutonFermer {
                font-size: 25px !important;
                top: 0px;
                right: 15px;
            }
            li:last-child {
                font-size: 17px
            }
            li a {
                font-size: 17px;
            }
            /**autre page****/
            .mapcanvas {
                min-width: 100%;
                float: left;
            }
            .videoR {
                max-width: 100%;
                float: left;
            }
            .mainLeft {
                float: left;
                height: auto;
                min-width: 100%;
                overflow-y: scroll;
            }
            /******form sur signaler*******/
            .msgsignal {
                max-width: 100%;
            }
            .imgType {
                max-width: 68px;
                max-height: 68px;
            }
            .imgTypeActif {
                max-width: 68px;
                max-height: 68px;
            }
            #putPhotoS {
                max-width: 55px;
                max-height: 55px;
            }
            /*****postit sur usercate******/
            .gauchePost {
                min-width: 60%;
            }
            .droitePost {
                max-width: 40%;
                margin-top: 0;
            }
            #doigtSoutien {
                height: 40px;
                width: 40px;
            }
            #doigtSoutienImg {
                height: 30px;
                width: 30px;
            }
            .nbsoutiens {
                font-size: 2em;
            }
            /**page contact + moncompte***/
            .title-page {
                font-size: 20px
            }
            .champsContact {
                font-size: 15px;
            }
            /***footer***/
            .footerdiv {
                min-width: 100%;
            }
            /******************Page mentions legales**************/
            .popupFooter {
                bottom: -300%;
            }
            .mentionsLegales {
                width: 90%;
            }
            /**********************Nous contacter *****************/
            #titleContact {
                font-size: 1em;
            }
            .pageContact {
                width: 90%;
                margin-top: 15%;
                border: 2px solid rgb(34, 112, 155);
            }
            #crossContact {
                font-size: 1em;
                position: absolute;
                color: rgba(233, 95, 3, 1);
                font-weight: bolder;
                right: 10%;
            }
            .formContact {
                margin-top: 0;
                padding: 0;
            }
            #doigtContact {
                height: 60px;
                width: 60px;
            }
            #doigtContactImg {
                height: 50px;
            }
        }
        @media only screen and (max-width: 400px) {
            .title-page {
                text-align: center;
            }
            .formContact {
                min-width: 100%;
                margin-bottom: 10px;
            }
            .champsContact {
                max-width: 95%;
            }
            .footerdiv {
                margin-top: 50px;
            }
        }
        @media only screen and (max-width: 400px) {
            .title-page {
                text-align: center;
            }
            .formContact {
                min-width: 100%;
                margin-bottom: 10px;
            }
            .champsContact {
                max-width: 95%;
            }
            .footerdiv {
                margin-top: 50px;
            }
        }
        @media only screen and (max-width: 250px) {
            header {
                height: 2.555em;
                background: rgba(233, 95, 3, 1);
            }
            .text {
                font-size: 7px
            }
            .button {
                font-size: 11px
            }
            .inscription {
                margin-top: 8px
            }
            .mainLeft {
                float: left;
                height: inherit;
                min-width: 100%;
                color: rgb(229, 106, 23);
                overflow-y: scroll;
            }
            .msgsignal {
                max-width: 100%;
            }
        }
    }
