
/***************MAIN/CONTENT************/
/*.mainUserCarte {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(4, 90, 149);
}*/


    /***Vidéo si géoloc ne marche pas********/


    /*******MoncCompteBis*******************/

    /****************postit msgsignal dans userCarte******************/



/***bouton soutien dans userCarte****/

  /*  #SoutienImg {
        height: 55px;
        width: 55px;
    }
*/

    /********FORM SIGNALER****************/

    fieldset {
        border: none;
        border-top: 1px solid rgb(223, 74, 16);
    }

    #mapcanvas {
        cursor: pointer;
        height: inherit;
    }
    /*form sur le coté de signaler.php*/

    #autocomplete {
        border: 2px solid rgb(4, 90, 149);
        background-color: #f0f0ff;
        top: 0px;
        left: 0px;
        width: 99%;
        margin-bottom: 10px;
        height: 30px;
        color: rgb(229, 106, 23);
        font-weight: bold;
    }
    /***Si autocomplete et geocodereverse impossible alors form***/

    .unSignalementField {
        width: 99%;
        max-width: 300px;
    }

    .slimField1 {
        width: 50px;
    }

    #geocodeReverse {
        min-width: 60px;
        min-height: 60px;
        background-size: contain;
        background-color: rgb(4, 90, 149);
        border: 2px solid rgb(4, 90, 149);
        background-image: url(../img/cible.svg);
        border-radius: 100%;
        no-repeat;
        -moz-transition-duration: 0.3s;
        -moz-transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    #geocodeReverse:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    /*****les img symbolisant les pb****/

    .imgType {
        max-width: 80px;
        max-height: 80px;
        border-radius: 20%;
        -moz-transition-duration: 0.3s;
        -moz-transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    .imgType:hover:not(.imgTypeActif) {
        background-color: rgba(4, 90, 149, 0.5);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .imgTypeActif {
        max-width: 80px;
        max-height: 80px;
        background-color: rgb(4, 90, 149);
        border-radius: 30%;
        -moz-transition-duration: 0.3s;
        -moz-transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
    }

    .imgTypeActif:hover {
        transition-timing-function: ease;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    /***Description + photo***/

    textarea {
        border: 2px solid rgb(223, 74, 16);
        color: rgb(4, 90, 149);
        font-weight: bold;
    }
    /****champs upload de photo***/

    #fileContainer {
        overflow: hidden;
        position: relative;
    }

    #fileContainer [type=file] {
        cursor: inherit;
        display: block;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

    #putPhotoS {
        max-width: 70px;
        max-height: 70px;
    }
    /*bouton de signaler /valider/ soutenirr*/

    .button--circle {
        background-color: rgb(4, 90, 149);
        border: 2px solid rgb(4, 90, 149);
        border-radius: 100%;
        -moz-transition-duration: 0.3s;
        -moz-transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    /***************FOOTER****************************/

    footer {
        float: left;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        color: rgb(223, 74, 16);
        font-size: 18px;
        font-weight: bold;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    .fa-facebook-official {
        color: #3b5998;
    }

    .fa-twitter {
        color: #33ccff;
    }

    .reseau {
        text-align: center;
    }

    .footerdiv {
        text-align: center;
        width: 33.33%;
        float: left;
        padding-top: 30px;
    }

    .fa {
        padding-top: 40px;
        padding-right: 15px;
        cursor: pointer;
    }

    #logoPartenaire:hover {
        -webkit-filter: grayscale(0%);
        /* Chrome, Safari, Opera */
        filter: grayscale(0%);
        -webkit-transition: all 0.9s;
        transition: all 0.9s;
    }

    #logoPartenaire {
        width: 200px;
        padding-top: 30px;
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        cursor: pointer;
    }

    #logoF {
        width: 165px;
        padding-top: 30px;
        cursor: pointer;
    }
    /***************** Notifications **************************/
    /*******Page MON COMPTE***********/

    .compte-form {
        width: 600px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: auto;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background: white;
        text-align: center;
    }

    .title-account {
        font-size: 2em;
        color: rgb(34, 112, 155);
    }

    #cross {
        font-size: 2em;
        position: absolute;
        right: 37%;
    }
    /******************Page mentions legales**************/

    .popupFooter {
        z-index: 1;
        background-color: rgba(255, 255, 255, .8);
        width: 100%;
        margin-top: -38px;
        top: 0;
        position: absolute;
        display: none;
    }

    .mentionsLegales {
        width: 60%;
        height: 60%;
        border: 2px solid rgb(34, 112, 155);
        border-radius: 10px;
        margin-bottom: auto;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: auto;
        background: white;
        text-align: center;
        color: rgba(233, 95, 3, 1);
        font-weight: lighter;
        overflow-y: scroll;
    }

    #titleML,
    h3,
    h4 {
        color: rgb(34, 112, 155);
    }

    #crossFooter {
        font-size: 2em;
        position: absolute;
        color: rgb(34, 112, 155);
        font-weight: bolder;
        right: 22%;
    }
    /**********************Nous contacter ****************

    /********** Slideshow UnSignalement*******/

    .slideshow-container {
        max-width: 500px;
        position: relative;
        margin: auto;
        margin-top: 20%;
    }
    /* Caption text */

    .text {
        color: rgb(233, 95, 3);
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        width: 100%;
        text-align: center;
        overflow: auto;
    }
    /* Number text (1/3 etc) */

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /************MEDIA QUERRY***********/

    @media only screen and (max-width: 1150px) {
        .imgType {
            max-width: 68px;
            max-height: 68px;
        }
        .imgTypeActif {
            max-width: 68px;
            max-height: 68px;
        }
        .videoR {
            max-width: 30em;
            max-height: 25em;
        }
        @media only screen and (max-width: 950px) {
            .videoR {
                max-width: 17em;
                max-height: 11em;
            }
        }
        @media only screen and (max-width: 500px) {
            header {
                height: 2.555em;
                background: rgba(233, 95, 3, 1);
            }
            /**page index + nav****/
            .text {
                font-size: 15px
            }
            .button {
                font-size: 14px
            }
            .inscription {
                margin-top: 8px
            }
            .side {
                overflow-x: auto;
                padding-top: 15px;
            }
            .side a {
                font-size: 20px
            }
            .boutonFermer {
                font-size: 25px !important;
                top: 0px;
                right: 15px;
            }
            li:last-child {
                font-size: 17px
            }
            li a {
                font-size: 17px;
            }
            /**autre page****/
            .mapcanvas {
                min-width: 100%;
                float: left;
            }
            .videoR {
                max-width: 100%;
                float: left;
            }
            .mainLeft {
                float: left;
                height: auto;
                min-width: 100%;
                overflow-y: scroll;
            }
            /******form sur signaler*******/
            .msgsignal {
                max-width: 100%;
            }
            .imgType {
                max-width: 68px;
                max-height: 68px;
            }
            .imgTypeActif {
                max-width: 68px;
                max-height: 68px;
            }
            #putPhotoS {
                max-width: 55px;
                max-height: 55px;
            }
            /*****postit sur usercate******/
            .gauchePost {
                min-width: 60%;
            }
            .droitePost {
                max-width: 40%;
                margin-top: 0;
            }
            #doigtSoutien {
                height: 40px;
                width: 40px;
            }
            #doigtSoutienImg {
                height: 30px;
                width: 30px;
            }
            .nbsoutiens {
                font-size: 2em;
            }
            /**page contact + moncompte***/
            .title-page {
                font-size: 20px
            }
            .champsContact {
                font-size: 15px;
            }
            /***footer***/
            .footerdiv {
                min-width: 100%;
            }
            /******************Page mentions legales**************/
            .popupFooter {
                bottom: -300%;
            }
            .mentionsLegales {
                width: 90%;
            }
            /**********************Nous contacter *****************/
            #titleContact {
                font-size: 1em;
            }
            .pageContact {
                width: 90%;
                margin-top: 15%;
                border: 2px solid rgb(34, 112, 155);
            }
            #crossContact {
                font-size: 1em;
                position: absolute;
                color: rgba(233, 95, 3, 1);
                font-weight: bolder;
                right: 10%;
            }
            .formContact {
                margin-top: 0;
                padding: 0;
            }
            #doigtContact {
                height: 60px;
                width: 60px;
            }
            #doigtContactImg {
                height: 50px;
            }
        }
        @media only screen and (max-width: 400px) {
            .title-page {
                text-align: center;
            }
            .formContact {
                min-width: 100%;
                margin-bottom: 10px;
            }
            .champsContact {
                max-width: 95%;
            }
            .footerdiv {
                margin-top: 50px;
            }
        }
        @media only screen and (max-width: 400px) {
            .title-page {
                text-align: center;
            }
            .formContact {
                min-width: 100%;
                margin-bottom: 10px;
            }
            .champsContact {
                max-width: 95%;
            }
            .footerdiv {
                margin-top: 50px;
            }
        }
        @media only screen and (max-width: 250px) {
            header {
                height: 2.555em;
                background: rgba(233, 95, 3, 1);
            }
            .text {
                font-size: 7px
            }
            .button {
                font-size: 11px
            }
            .inscription {
                margin-top: 8px
            }
            .mainLeft {
                float: left;
                height: inherit;
                min-width: 100%;
                color: rgb(229, 106, 23);
                overflow-y: scroll;
            }
            .msgsignal {
                max-width: 100%;
            }
        }
    }
