/***********/
/*Variables*/
/***********/
/* line 13, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 17, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
html,
body {
  font-family: Roboto;
  line-height: 1.4;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

/* line 27, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 32, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.container {
  margin: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 37, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.site-content {
  padding-top: 66px;
}

/* line 41, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  z-index: 50;
  color: #045a95;
  background-color: #df4a10;
  font-weight: bold;
  font-size: 22px;
}

/* line 54, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  height: 66px;
  float: left;
}

/* line 59, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.header__logo img {
  height: 66px;
}

/* line 64, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.mainUserCarte {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 35em;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #045a95;
}

/* line 76, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.header__icon {
  display: none;
}

/* line 80, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.menu {
  float: left;
}

/* line 82, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.menu a {
  padding: 19px 20px;
}

/* line 85, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.menu a:hover {
  color: #033c63;
}

/* line 88, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.menu .active {
  color: #df4a10;
  background-color: #045a95;
}

/* line 92, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.menu .active:hover {
  color: #f06732;
}

/*******************************************************                      BITTON--CIRCLE signaler /valider/ soutenir
\*******************************************************/
/* line 99, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.button--circle {
  background-color: #045a95;
  border: 2px solid #045a95;
  border-radius: 100%;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/*******************************************************                      Slide-SHOW enregistrement
\*******************************************************/
/* line 115, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 20%;
}

/* Caption text */
/* line 123, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.text {
  color: #e95f03;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  overflow: auto;
}

/* Number text (1/3 etc) */
/* line 134, /home/abbadix/Bureau/PRO/accescible/scss/style.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*******************************************************                      POSTITS
\*******************************************************/
/* line 3, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft {
  padding: 0;
  height: inherit;
  max-width: 350px;
  float: left;
  overflow-y: scroll;
}

/* line 9, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit {
  background-color: #f1f0f0;
  color: #df4a10;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 2s;
  height: 150px;
  max-height: 150px;
  border: 1px solid #045a95;
  margin-bottom: 5px;
}

/* line 20, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--left {
  width: 60%;
  font-weight: normal;
  float: left;
}

/* line 25, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right {
  width: 40%;
  float: right;
}

/* line 28, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right .postit--type {
  float: right;
  width: 100%;
  padding-bottom: 15px;
}

/* line 32, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right .postit--type .crossPostit {
  float: right;
  font-size: 40px;
  color: #045a95;
  z-index: 150;
}

/* line 39, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right .postit--signal {
  float: right;
  width: 100%;
}

/* line 42, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right .postit--signal #SoutienImg {
  height: 55px;
  width: 55px;
}

/* line 46, /home/abbadix/Bureau/PRO/accescible/scss/_postit.scss */
.mainLeft .postit .postit--right .postit--signal .nbsoutiens {
  float: right;
  font-size: 2.7em;
  font-weight: bold;
}

/* line 3, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.spin:hover {
  -moz-transform: rotate(635deg) scale(1.2);
  -webkit-transform: rotate(635deg) scale(1.2);
  transform: rotate(635deg) scale(1.2);
}

/* line 9, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte {
  padding: 0;
  height: inherit;
  max-width: 350px;
  float: left;
  font-size: 0.8em;
  overflow-y: scroll;
}

/* line 16, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .title-account2 {
  color: #df4a10;
}

/* line 19, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .champsCompte {
  width: auto;
  border-radius: 12px;
  border: 0.1em solid #93bcda;
  padding: 0.4em 0.8em;
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* line 30, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit {
  background-color: #f1f0f0;
  color: #df4a10;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 2s;
  height: 150px;
  max-height: 150px;
  border: 1px solid #045a95;
  margin-bottom: 5px;
}

/* line 41, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--left {
  width: 60%;
  font-weight: normal;
  float: left;
}

/* line 46, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right {
  width: 40%;
  float: right;
}

/* line 49, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right .postit--type {
  float: right;
  width: 100%;
  padding-bottom: 15px;
}

/* line 53, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right .postit--type .crossPostit {
  float: right;
  font-size: 40px;
  color: #045a95;
  z-index: 150;
}

/* line 60, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right .postit--signal {
  float: right;
  width: 100%;
}

/* line 63, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right .postit--signal #supprimerS {
  height: 55px;
  width: 55px;
}

/* line 67, /home/abbadix/Bureau/PRO/accescible/scss/_postitMonCompte.scss */
.mainLeftCompte .postit .postit--right .postit--signal .nbsoutiens {
  float: right;
  font-size: 2.7em;
  font-weight: bold;
}

/*******************************************************                      FORM PAGE SIGNALER
\*******************************************************/
/* line 1, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
fieldset {
  border: none;
  border-top: 1px solid #df4a10;
}

/* line 6, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#mapcanvas {
  cursor: pointer;
  height: inherit;
}

/* line 11, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#autocomplete {
  border: 2px solid #045a95;
  background-color: #f0f0ff;
  top: 0px;
  left: 0px;
  width: 99%;
  margin-bottom: 10px;
  height: 30px;
  color: #e56a17;
  font-weight: bold;
}

/***Si autocomplete et geocodereverse impossible alors form***/
/* line 24, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.unSignalementField {
  width: 99%;
  max-width: 300px;
}

/* line 29, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.slimField1 {
  width: 50px;
}

/* line 33, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#geocodeReverse {
  min-width: 60px;
  min-height: 60px;
  background-size: contain;
  background-color: #045a95;
  border: 2px solid #045a95;
  background-image: url(../img/cible.svg);
  border-radius: 100%;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* line 49, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#geocodeReverse:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*****les img symbolisant les pb****/
/* line 56, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.imgType {
  max-width: 80px;
  max-height: 80px;
  border-radius: 20%;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* line 68, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.imgType:hover:not(.imgTypeActif) {
  background-color: rgba(4, 90, 149, 0.5);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 75, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.imgTypeActif {
  max-width: 80px;
  max-height: 80px;
  background-color: #045a95;
  border-radius: 30%;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.3s;
}

/* line 87, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
.imgTypeActif:hover {
  transition-timing-function: ease;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/***Description + photo***/
/* line 95, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
textarea {
  border: 2px solid #df4a10;
  color: #045a95;
  font-weight: bold;
}

/****champs upload de photo***/
/* line 102, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#fileContainer {
  overflow: hidden;
  position: relative;
}

/* line 107, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#fileContainer [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* line 120, /home/abbadix/Bureau/PRO/accescible/scss/_formSignaler.scss */
#putPhotoS {
  max-width: 70px;
  max-height: 70px;
}

/*******************************************************                      Notification
\*******************************************************/
/* line 1, /home/abbadix/Bureau/PRO/accescible/scss/_notification.scss */
.notif {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255, 255, 255, 0.1) 20px, rgba(255, 255, 255, 0.1) 40px);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid;
  margin: 66px 0px;
  position: absolute;
  left: 40%;
  z-index: 200;
  max-width: 100%;
}

/* line 15, /home/abbadix/Bureau/PRO/accescible/scss/_notification.scss */
.info {
  background-color: #6af;
  border-color: #48d;
}

/* line 20, /home/abbadix/Bureau/PRO/accescible/scss/_notification.scss */
.warning {
  background-color: #fa4;
  border-color: #d82;
}

/* line 25, /home/abbadix/Bureau/PRO/accescible/scss/_notification.scss */
.success {
  background-color: #8d5;
  border-color: #6b3;
}

/* line 30, /home/abbadix/Bureau/PRO/accescible/scss/_notification.scss */
.error {
  background-color: #f31;
  border-color: #d10;
}

/* line 1, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain {
  width: 100%;
  padding-top: 6em;
  padding-bottom: 5em;
}

/* line 5, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .videoIndex {
  width: 26em;
  margin-left: auto;
  margin-right: auto;
}

/* line 9, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .videoIndex video {
  width: 26em;
}

/* line 13, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .button--index {
  background-color: #f1f0f0;
  width: auto;
  border-radius: 12px;
  border: 1px solid #93bcda;
  padding: 15px 32px;
  margin: 8px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

/* line 25, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .button--index:hover {
  box-shadow: 0 12px 16px 0 rgba(34, 112, 155, 0.3);
}

/* line 28, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .connexion {
  color: #045a95;
  margin: 6px;
}

/* line 32, /home/abbadix/Bureau/PRO/accescible/scss/_connexion.scss */
.indexMain .inscription {
  color: #df4a10;
  margin: 6px;
}

/******************************************************                      POPUP
\*******************************************************/
/* line 5, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

/* line 14, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside {
  width: 60%;
  border: 2px solid #22709b;
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: auto;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #e95f03;
  overflow-y: hidden;
}

/* line 27, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside .popup--title {
  color: #22709b;
}

/* line 30, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside .cross {
  font-size: 2em;
  position: absolute;
  color: #e95f03;
  font-weight: bolder;
  right: 23%;
}

/* line 37, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside .popup--form {
  margin-top: 0;
  padding: 0;
}

/* line 41, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside .popup--champs {
  background: #f1f0f0;
  width: auto;
  max-height: 380px;
  max-width: 750px;
  border-radius: 12px;
  border: 1px solid #93bcda;
  padding: 15px 32px;
  margin: 8px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

/* line 55, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
.popup .popup--inside .popup--champs {
  box-shadow: 0 12px 16px 0 rgba(34, 112, 155, 0.3);
}

/* line 61, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
#courrielContact {
  color: #df4a10;
  margin: 6px;
}

/* line 66, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
#message {
  color: #045a95;
  margin: 6px;
}

/* line 71, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
#doigtContact {
  height: 80px;
  width: 80px;
}

/* line 76, /home/abbadix/Bureau/PRO/accescible/scss/_popup.scss */
#doigtContactImg {
  height: 70px;
}

/******************************************************                      VIDEO REMPLACEMENT CARTE
\*******************************************************/
/* line 1, /home/abbadix/Bureau/PRO/accescible/scss/_videoRemplacementCarte.scss */
.videoR {
  max-width: 40em;
  max-height: 30em;
}

/******************************************************                      Footer
\*******************************************************/
/* line 1, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer {
  float: left;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #df4a10;
  font-size: 18px;
  font-weight: bold;
}

/* line 10, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv {
  text-align: center;
  width: 33.33%;
  float: left;
  padding-top: 30px;
}

/* line 15, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv .fa {
  padding-top: 40px;
  padding-right: 15px;
  cursor: pointer;
}

/* line 20, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv .fa-facebook-official {
  color: #3b5998;
}

/* line 24, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv .fa-twitter {
  color: #33ccff;
}

/* line 27, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv #logoPartenaire:hover {
  -webkit-filter: grayscale(0%);
  /* Chrome, Safari, Opera */
  filter: grayscale(0%);
  -webkit-transition: alls 0.9s;
  transition: all 0.9s;
}

/* line 35, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv #logoPartenaire {
  width: 200px;
  padding-top: 30px;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  cursor: pointer;
}

/* line 44, /home/abbadix/Bureau/PRO/accescible/scss/_footer.scss */
footer .footerdiv #logoF {
  width: 165px;
  padding-top: 30px;
  cursor: pointer;
}

/******************Page mentions legales**************/
/* line 3, /home/abbadix/Bureau/PRO/accescible/scss/_popupFooter.scss */
.popupFooter {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-top: -38px;
  position: absolute;
  display: none;
}

/* line 12, /home/abbadix/Bureau/PRO/accescible/scss/_popupFooter.scss */
.mentionsLegales {
  width: 60%;
  height: 60%;
  border: 2px solid #22709b;
  border-radius: 10px;
  margin-bottom: auto;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  text-align: center;
  color: #e95f03;
  font-weight: lighter;
  overflow-y: scroll;
}

/* line 28, /home/abbadix/Bureau/PRO/accescible/scss/_popupFooter.scss */
#titleML,
h3,
h4 {
  color: #22709b;
}

/* line 34, /home/abbadix/Bureau/PRO/accescible/scss/_popupFooter.scss */
#crossFooter {
  font-size: 2em;
  position: absolute;
  color: #22709b;
  font-weight: bolder;
  right: 22%;
}

/*******************************************************                      RESPONSIVE
\*******************************************************/
/*******************************************************TOUT ELEMENTS SAUF NAVBAR
\*******************************************************/
@media only screen and (max-width: 1150px) {
  /* line 8, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .imgType {
    max-width: 68px;
    max-height: 68px;
  }
  /* line 12, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .imgTypeActif {
    max-width: 68px;
    max-height: 68px;
  }
  /* line 16, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .videoR {
    max-width: 30em;
    max-height: 25em;
  }
}

@media only screen and (max-width: 950px) {
  /* line 22, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .videoR {
    max-width: 17em;
    max-height: 11em;
  }
}

@media only screen and (max-width: 500px) {
  /**index =>connexion.scss****/
  /* line 30, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain {
    padding-top: 2em;
    padding-bottom: 5em;
  }
  /* line 33, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain .videoIndex {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 37, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain .videoIndex video {
    width: 100%;
  }
  /* line 41, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain .button--index {
    font-size: 1em;
    padding: 1em 1.2em;
    margin: 2px;
    text-decoration: none;
  }
  /* line 47, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain .connexion {
    margin: 3px;
  }
  /* line 50, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .indexMain .inscription {
    margin: 3px;
  }
  /**autre page****/
  /* line 55, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mapcanvas {
    min-width: 100%;
    float: left;
    overflow-y: scroll;
  }
  /* line 60, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .videoR {
    max-width: 100%;
    float: left;
  }
  /* line 64, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft {
    float: left;
    height: auto;
    min-width: 100%;
    overflow-y: scroll;
  }
  /******form sur signaler*******/
  /* line 72, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .msgsignal {
    max-width: 100%;
  }
  /* line 75, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .imgType {
    max-width: 68px;
    max-height: 68px;
  }
  /* line 79, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .imgTypeActif {
    max-width: 68px;
    max-height: 68px;
  }
  /* line 83, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  #putPhotoS {
    max-width: 55px;
    max-height: 55px;
  }
  /*****postit sur usercate******/
  /* line 89, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit {
    font-size: 0.6em;
    height: 120px;
    max-height: 120px;
    border: 1px solid #045a95;
    margin-bottom: 5px;
  }
  /* line 98, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--type {
    padding-bottom: 5px;
  }
  /* line 100, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--type .crossPostit {
    font-size: 25px;
  }
  /* line 105, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--signal .doigtSoutien {
    height: 40px;
    width: 40px;
  }
  /* line 109, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--signal #SoutienImg {
    height: 40px;
    width: 40px;
  }
  /**page contact + moncompte***/
  /* line 121, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .title-page {
    font-size: 20px;
  }
  /* line 124, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .champsContact {
    font-size: 15px;
  }
  /***footer***/
  /* line 128, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .footerdiv {
    min-width: 100%;
  }
  /******************Page mentions legales**************/
  /* line 132, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .popupFooter {
    bottom: -300%;
  }
  /* line 135, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mentionsLegales {
    width: 90%;
  }
  /**********************Nous contacter *****************/
  /* line 139, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  #titleContact {
    font-size: 1em;
  }
  /* line 142, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .pageContact {
    width: 90%;
    margin-top: 15%;
    border: 2px solid #22709b;
  }
  /* line 147, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  #crossContact {
    font-size: 1em;
    position: absolute;
    color: #e95f03;
    font-weight: bolder;
    right: 10%;
  }
  /* line 154, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .formContact {
    margin-top: 0;
    padding: 0;
  }
  /* line 158, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  #doigtContact {
    height: 60px;
    width: 60px;
  }
  /* line 162, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  #doigtContactImg {
    height: 50px;
  }
}

@media only screen and (max-width: 400px) {
  /* line 170, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .title-page {
    text-align: center;
  }
  /* line 173, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .formContact {
    min-width: 100%;
    margin-bottom: 10px;
  }
  /* line 177, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .champsContact {
    max-width: 95%;
  }
  /* line 180, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .footerdiv {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 250px) {
  /* line 187, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft {
    float: left;
    height: inherit;
    min-width: 100%;
    color: #e56a17;
    overflow-y: scroll;
  }
  /* line 194, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .msgsignal {
    max-width: 100%;
  }
  /* line 203, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--type .latlng {
    height: 55px;
    width: 60px;
  }
  /* line 207, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--type .crossPostit {
    font-size: 20px;
  }
  /* line 212, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--signal .doigtSoutien {
    height: 40px;
    width: 40px;
  }
  /* line 216, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--signal #SoutienImg {
    height: 40px;
    width: 40px;
  }
  /* line 220, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .mainLeft .postit .postit--right .postit--signal .nbsoutiens {
    font-size: 1.5em;
  }
}

/*******************************************************NAVABAR
\*******************************************************/
@media only screen and (max-width: 875px) {
  /* line 241, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .site-container {
    overflow: hidden;
    height: 100%;
  }
  /* line 242, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .site-pusher {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    height: 100%;
  }
  /* line 247, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .header {
    position: static;
  }
  /* line 248, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .site-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
  }
  /* line 259, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 70px;
    height: 66px;
    cursor: pointer;
  }
  /* line 267, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .header__icon .hamburger {
    height: 66px;
  }
  /* line 268, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .header__icon .hamburger-box {
    padding-bottom: 40px;
  }
  /* line 269, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .header__icon .hamburger-inner, .header__icon .hamburger-inner::before, .header__icon .hamburger-inner::after {
    background-color: #045a95;
  }
  /* line 272, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .menu {
    position: absolute;
    right: 0;
    top: 66px;
    bottom: 0;
    background-color: #c7420e;
    width: 250px;
  }
  /* line 280, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0px 20px;
    border-bottom: 1px solid #df4a10;
  }
  /* line 291, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 292, /home/abbadix/Bureau/PRO/accescible/scss/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/*# sourceMappingURL=../css/style.map */