* {
  box-sizing:border-box;
}
html, body {height:100%;margin:0;}

body {
  font-family: Verdana,sans-serif;
  margin:0;
  max-width: 100%;

}




/*****************HEADER**************/

  /**************NavBAR************/
header {height:3.7em;background:rgba(233,95,3,1);}
.navFix{
  position: relative;
  position: fixed;
  z-index: 99;
  width: 100%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(233,95,3,1);
    font-size:26px;
    font-weight: bold;
}

li {
    float: left;
  }

li:last-child {
    border-right: none;
    float:right;
    cursor:pointer;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:rgb(4,90,149);
}

a:hover{
    background-color: rgba(4,90,149, 0.4);
  }

#active {
    background-color:rgb(4,90,149);
    color:rgba(233,95,3,1);
}

/*side déroulant navigation*/
.side {
    height:26.9em;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0px;
    background-color:rgb(4,90,149);
    overflow-x: hidden;
    transition: 0.5s;
}


.side a {
  padding:8px;
  text-decoration: none;
  font-size:20px;
  color:rgba(233,95,3,1);
  display:block;
  transition:0.3s;
  text-align: right;
}

.side a:hover, .side a:focus {
  background-color: rgba(233,95,3,0.6);
}

.boutonFermer{
  font-size :36px !important;
}
/****************Btn msgsignal******************/

.msgsignal {
  display:flex;
  display: -webkit-flex;
  background-color:rgb(241,240,240);
  width: auto;
  border-top: 1px solid rgb(4,90,149);
  padding: 15px 32px;
  text-decoration: none;
  color:rgb(223,74,16);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.hautPost{

}

.basPost{
  margin-top: 1.2em;
  margin-left: 0.5em
}



/***************MAIN/CONTENT************/

.mainUserCarte {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 35em;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  color:rgb(4,90,149);

}

.mainLeft{
  float:left;
  height:inherit;
  min-width: 20%;
  color:rgb(4,90,149);
  overflow-y: scroll;
  padding: 0.5em;
}

fieldset{
  border:none;
  border-top: 1px solid rgb(223,74,16);
}

#mapcanvas {
  cursor:pointer;
  height: inherit;
}

/*form sur le coté de signaler.php*/

#autocomplete {
border: 2px solid rgb(4,90,149);
background-color: #f0f0ff;
top: 0px;
left: 0px;
width: 99%;
margin-bottom: 10px;
height: 30px;
}

#geocodeReverse{
  min-width: 60px;
  min-height: 60px;
  background-size: contain;
  background-color: rgb(4,90,149);
  border: 2px solid rgb(4,90,149);
  background-image: url(../img/cible.svg);
  border-radius: 100%; no-repeat;
  -moz-transition-duration:0.3s;
	-moz-transition-timing-function:ease;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.3s;
	transition-timing-function:ease;
}

#geocodeReverse:hover{
  -moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/*****les img symbolisant les pb****/
.imgType{
  max-width:60px;
  max-height: 60px;
  border-radius: 20%;
  -moz-transition-duration:0.3s;
  -moz-transition-timing-function:ease;
  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.3s;
  transition-timing-function:ease;
}

.imgType:hover:not(.imgTypeActif) {
    background-color: rgba(4,90,149,0.5);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }

.imgTypeActif {
    max-width:80px;
    max-height: 80px;
    background-color:rgb(4,90,149);
    border-radius: 30%;
    -moz-transition-duration:0.3s;
    -moz-transition-timing-function:ease;
    -webkit-transition-duration:0.3s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.3s;
  }
.imgTypeActif:hover{
  transition-timing-function:ease;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/***Description + photo***/

textarea{
border: 2px solid rgb(223,74,16);
color:rgb(223,74,16);
max-width: 400px;
max-height: 400px;
}

.incPhotoS{
  margin-top: 20px;
  margin-bottom: 20px;
}

/*bouton de signaler /valider*/
button{
  background-color: rgb(4,90,149);
  border: 2px solid rgb(4,90,149);
  border-radius: 100%;
  text-align: center;
  -moz-transition-duration:0.3s;
	-moz-transition-timing-function:ease;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}

button:hover{
    -moz-transform: rotate(635deg) scale(1.2);
  	-webkit-transform: rotate(635deg) scale(1.2);
  	transform: rotate(635deg) scale(1.2);
}

/***************FOOTER****************************/
footer{

  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color:rgb(223,74,16);
  font-size:18px;
  font-weight: bold;
}



.logo {
  height: 30px;
  width: 30px;
}

.fa-facebook-official {
  color: #3b5998;
}

.fa-twitter {
  color: #33ccff;
}

.reseau {
  text-align: center;
}

.footerdiv {
  text-align: center;
  width: 33.33%;
  float: left;
  padding-top: 30px;
}



.fa {
  padding-top: 40px;
  padding-right: 15px;
}


#logoPartenaire:hover{
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
filter: grayscale(0%);
-webkit-transition:all 0.9s;
transition:all 0.9s;
}

#logoPartenaire{
  width: 200px;
  padding-top: 30px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
filter: grayscale(100%);
}

#logoF{
  width: 165px;
  padding-top: 30px;
}


/***************** Notifications **************************/
#notif {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255,255,255,0.1) 20px, rgba(255,255,255,0.1) 40px );
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  padding: 5px 10px;
  box-shadow:	inset 0 1px 0 rgba(255,255,255,0.5);
  border: 1px solid;
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 200;
}
.info {
  background-color: #6af;
  border-color: #48d;
}
.warning{
  background-color: #fa4;
  border-color: #d82;
}
.success{
  background-color: #8d5;
  border-color: #6b3;
}
.error {
  background-color: #f31;
  border-color: #d10;
}
/**********************Nous contacter *****************/
.title-page{
  font-size: 2em;
  margin-top: 4em;
}

.formContact{
  margin-top: 0;
  padding :0;
  margin-bottom: 0;
}
.champsContact{
  background-color:rgb(241,240,240);
  width: auto;
  border-radius: 12px;
  border: 1px solid rgb(147,188,218);
  padding: 15px 32px;
  margin : 8px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
#courrielContact {
  color: rgb(223,74,16);
  margin : 6px;
}
#message{
  color:rgb(4,90,149);
  margin : 6px;
}
.champsContact:hover {
    box-shadow: 0 12px 16px 0 rgba(34,112,155,0.3);
}


/*******Page MON COMPTE***********/
.compte{
  z-index:1;
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  position: absolute;
  top: 0;
  margin-top:-38px;
  display: none;
}

.compte-form{
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: auto;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background:white;
  text-align: center;
}

.title-account{
  font-size: 2em;
  color: rgb(34, 112, 155);
}

/************MEDIA QUERRY***********/
@media only screen and (max-width: 500px) {
  header {height:2.555em;background:rgba(233,95,3,1);}
  .mainLeft{
    float:left;
    height:auto;
    min-width: 100%;
    color:rgb(229,106,23);
    overflow-y: scroll;
  }
  .text{font-size: 10px}
  .button {font-size:14px}
  .inscription {margin-top :8px}
  .side {overflow-x:auto;
  padding-top: 15px;}
  .side a {font-size: 20px}
  .boutonFermer {
    font-size:25px !important;
    top:0px;
    right: 15px;
  }
  li:last-child {
font-size:17px
  }
  li a {
      font-size: 11px;
    }
.mapcanvas{
  min-width: 100%;
}
.footerdiv{
  min-width: 100%;
}
}
@media only screen and (max-width: 250px) {
  header{height:2.555em;background:rgba(233,95,3,1);}
  .text{font-size: 7px}
  .button {font-size:11px}
  .inscription {margin-top :8px}
}
