/***********/
/*Variables*/
/***********/
/* line 8, C:/xampp/htdocs/accescible/test front/scss/style.scss */
html, body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 17, C:/xampp/htdocs/accescible/test front/scss/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 18, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 22, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.site-content {
  padding-top: 66px;
}

/* line 24, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #df4a10;
}

/* line 34, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 38, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.header__logo img {
  height: 66px;
}

/* line 41, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.header__icon {
  display: none;
}

/* line 43, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.menu {
  float: left;
}

/* line 46, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.menu a {
  padding: 0 10px;
}

/* line 47, C:/xampp/htdocs/accescible/test front/scss/style.scss */
.menu a:hover {
  color: #c6ff00;
}

/*******************************************************                      RESPONSIVE
\*******************************************************/
@media only screen and (max-width: 750px) {
  /* line 3, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .site-container {
    overflow: hidden;
    height: 100%;
  }
  /* line 4, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .site-pusher {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    height: 100%;
  }
  /* line 9, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .header {
    position: static;
  }
  /* line 10, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /* line 20, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 70px;
    height: 66px;
    cursor: pointer;
  }
  /* line 28, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .header__icon .hamburger {
    height: 66px;
  }
  /* line 29, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .header__icon .hamburger-box {
    padding-bottom: 15px;
  }
  /* line 32, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #c7420e;
    width: 250px;
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 42, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #df4a10;
  }
  /* line 52, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 53, C:/xampp/htdocs/accescible/test front/scss/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/*# sourceMappingURL=../style.map */