 * {
  box-sizing:border-box
}

body {
  font-family: Verdana,sans-serif;
  margin:auto;
  max-width: 100%;
  background: #fff;

}

/**********video***************/
video {
  width: 26em;
  height: 16em;
  max-width: 100%;
}

.video{
  margin-top: 8em;
}

/* Slideshow container */

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  }

/* Caption text */
.text {
  color: rgb(0,0,0);
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  overflow: auto;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}*/
/* Fading animation */
/*@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}*/


/*BOUTON CONN, INSCRIPTION, SE CONNECTER ETC*/
.FormConn{
  margin-top: 10%;
}
.button {
  background-color:rgb(241,240,240);
  width: auto;
  border-radius: 12px;
  border: 1px solid rgb(147,188,218);
  padding: 15px 32px;
  margin : 8px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
.connexion {
  color: rgb(4,90,149);
  margin : 6px;
}
.inscription {
  color:rgba(0,0,0,1);
  margin : 6px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(34,112,155,0.3);
}



#ok{
  position: fixed;
  bottom: 0;
  color: red;
  left: auto;
  right: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 421px) {
  .text{font-size: 10px}
  .button {font-size:14px}
  .inscription {margin-top :8px}
  .dot{
    height: 9px;
    width: 9px;
  }

}
@media only screen and (max-width: 250px) {
  .text{font-size: 7px}
  .button {font-size:11px}
  .inscription {margin-top :8px}
  .dot{
    height: 6px;
    width: 6px;
  }

}
