/******************Page mentions legales**************/

.popupFooter {
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    margin-top: -38px;
    position: absolute;
    display: none;
}

.mentionsLegales {
    width: 60%;
    height: 60%;
    border: 2px solid rgb(34, 112, 155);
    border-radius: 10px;
    margin-bottom: auto;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    text-align: center;
    color: rgba(233, 95, 3, 1);
    font-weight: lighter;
    overflow-y: scroll;
}

#titleML,
h3,
h4 {
    color: rgb(34, 112, 155);
}

#crossFooter {
    font-size: 2em;
    position: absolute;
    color: rgb(34, 112, 155);
    font-weight: bolder;
    right: 22%;
}
