$postit-bg: rgb(241, 240, 240);
$postit-border:rgb(4, 90, 149);
.spin:hover {
    -moz-transform: rotate(635deg) scale(1.2);
    -webkit-transform: rotate(635deg) scale(1.2);
    transform: rotate(635deg) scale(1.2);
}

.mainLeftCompte {
    padding: 0;
    height: inherit;
    max-width: 350px;
    float: left;
    overflow-y: scroll;
    .postit {
        background-color: $postit-bg;
        color: $header-bg;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: 2s;
        height: 150px;
        max-height: 150px;
        border: 1px solid $postit-border;
        margin-bottom: 5px;
        .postit--left {
            width: 60%;
            font-weight: normal;
            float: left;
        }
        .postit--right {
            width: 40%;
            float: right;
            .postit--type {
                float: right;
                width: 100%;
                padding-bottom: 15px;
                .crossPostit {
                    float: right;
                    font-size: 40px;
                    color: rgb(4, 90, 149);
                    z-index: 150;
                }
            }
            .postit--signal {
                float: right;
                width: 100%;
                .doigtSoutien {
                    height: 45px;
                    width: 45px;
                }
                .doigtSoutienImg {
                    height: 35px;
                    width: 35px;
                }
                .nbsoutiens {
                    float: right;
                    font-size: 2.7em;
                    font-weight: bold;
                }
            }
        }
    }
}