$menu-width: 250px!default;
@media only screen and (max-width: 875px) {
  .site-container{overflow: hidden; height: 100%;}
  .site-pusher{
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
    height: 100%
  }
  .header{position: static;}
  .site-content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    background-color: #FFF;
  }
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 70px;
    height: 66px;
    cursor: pointer;
    
    .hamburger{height: 66px;}
    .hamburger-box{padding-bottom: 40px;}
    .hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{background-color: $header-font-color;}
  }
  
  .menu{
    position: absolute;
    right: 0;
    top: 66px;
    bottom: 0;
    background-color: darken($header-bg, 5);
    width: $menu-width;

    a{
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid $header-bg;
    }
  }
  
  .with--sidebar{
    .site-pusher{@include transform(translateX($menu-width * -1));}
    .site-cache{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}